body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #777474;
}

header {
    background-color: #2b2a2a;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}
h2 {
    text-align: center;
    font-size: 3em;
    color:#f1f1f1
}
li{
    text-align: center;
    font-size: 2,5em; 
    color: #f1f1f1
    
}
ul{
    text-align: center;
}
.cta-button2{
display: flex;
margin: 0;
}
img{
    align: center;
    height: 400px;
}
section{
    align: center;
}


